In [1]:
#BUILD THE DATASET
## Python packages - you may have to pip install sqlalchemy, sqlalchemy_utils, and psycopg2.
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2
import pandas as pd
import numpy as np
import re

In [2]:
#In Python: Define a database name (event_db), and your username for your computer. 
dbname = 'event_db'
username = 'elahe'#to run below commands PostgreSQL should be launched
## 'engine' is a connection to a database
## Here, we're using postgres, but sqlalchemy can connect to other things too.
engine = create_engine('postgres://%s@localhost/%s'%('elahe','event_db'))
print(engine.url)

## create a database (if it doesn't exist)
if not database_exists(engine.url):
    print 'creating ...'
    create_database(engine.url)
print(database_exists(engine.url))

con = None
con = psycopg2.connect(database = 'event_db', user = 'elahe')

postgres://elahe@localhost/event_db
True

#List all the csv files inside the data_path directory
from os import listdir
from os.path import isfile, join
datapath ='Data/EventData'
#isfile(join(data_path, f)) condition is to make sure it is only files not the directories inside the data_path
#f.endswith('.csv') condition is to make sure it is csv files
csvfiles = [f for f in listdir(datapath) if isfile(join(datapath, f)) and f.endswith('.csv')]
print csvfiles

In [3]:
#Run this to create table_names
#change the names by replasing the 'StormEvents_details-ftp_V1.0_' by '' in all the files
table_names=[]
for num in range(1951,2018):
    table_name = 'd%d_table'%num
    #print table_name
    table_names.append(table_name)

d1951_table
d1952_table
d1953_table
d1954_table
d1955_table
d1956_table
d1957_table
d1958_table
d1959_table
d1960_table
d1961_table
d1962_table
d1963_table
d1964_table
d1965_table
d1966_table
d1967_table
d1968_table
d1969_table
d1970_table
d1971_table
d1972_table
d1973_table
d1974_table
d1975_table
d1976_table
d1977_table
d1978_table
d1979_table
d1980_table
d1981_table
d1982_table
d1983_table
d1984_table
d1985_table
d1986_table
d1987_table
d1988_table
d1989_table
d1990_table
d1991_table
d1992_table
d1993_table
d1994_table
d1995_table
d1996_table
d1997_table
d1998_table
d1999_table
d2000_table
d2001_table
d2002_table
d2003_table
d2004_table
d2005_table
d2006_table
d2007_table
d2008_table
d2009_table
d2010_table
d2011_table
d2012_table
d2013_table
d2014_table
d2015_table
d2016_table
d2017_table

#Run this to actually read CSV files and write them to your database server
for f in csvfiles:
    database_name = f.replace('StormEvents_details-ftp_v1.0_','')
    database_name = database_name.split("_c")[0]
    table_name = database_name+'_table'

    # read a database from CSV and load it into a pandas dataframe
    database_name = pd.DataFrame.from_csv(datapath+'/'+f)
    database_name = database_name.rename(columns=lambda x: x.strip())
    
    print 'creating ... ' + table_name
    ## insert data into database from Python (proof of concept - this won't be useful for big data, of course)
    database_name.to_sql(table_name, engine, if_exists='replace')

In [4]:
# connect to dataset:
#Read Damage information from all the tables

damage_list = []
#location_ids=[]
cnt=0
for table_name in table_names:
    # query: 
    #for sql query you don't need to put column names into "" but if the column names are 
    #in UPPER CASE LETTERS you have to do that
    
    year = int(re.findall(r'\d+', table_name)[0])
    sql_query = """
    SELECT "EVENT_TYPE","MONTH_NAME","STATE","CZ_FIPS","STATE_FIPS","CZ_NAME",
    "INJURIES_DIRECT","INJURIES_INDIRECT","DEATHS_DIRECT","DEATHS_INDIRECT",
    "DAMAGE_PROPERTY","DAMAGE_CROPS" FROM %s;

    """ %table_name
    #print sql_query
    damage_sql = pd.read_sql_query(sql_query,con)

    damage_sql['YEAR']=year
    damage_list.append(damage_sql)
    #cnt= cnt+1
#print location
damage_df =pd.concat(damage_list,axis=0)
print damage_df.shape
#location_df =pd.merge(location_list,how='left', left_on=['STATE','CZ_NAME'], right_on = ['STATE','CZ_NAME'])
#location_df =reduce(lambda x, y: pd.merge(x, y,'outer'), location_list)
#location_df =reduce(lambda x, y: pd.merge(x, y, on = ['STATE','CZ_NAME']), location_list)
#df = reduce(lambda df1,df2: pd.merge(df1,df2,on='id'), dfList)
#location_df.set_index('LOCATION_ID', inplace=True)
damage_df = damage_df.drop_duplicates()
damage_df['DAMAGE_ID'] = damage_df.index
print damage_df.shape
print damage_df.head()

(269, 13)
(272, 13)
(492, 13)
(609, 13)
(1413, 13)
(1703, 13)
(2184, 13)
(2213, 13)
(1813, 13)
(1945, 13)
(2246, 13)
(2389, 13)
(1968, 13)
(2348, 13)
(2835, 13)
(2388, 13)
(2688, 13)
(3312, 13)
(2926, 13)
(3215, 13)
(3471, 13)
(2168, 13)
(4453, 13)
(5375, 13)
(4975, 13)
(3768, 13)
(3728, 13)
(3657, 13)
(4279, 13)
(6136, 13)
(4517, 13)
(7126, 13)
(8322, 13)
(7335, 13)
(7979, 13)
(8725, 13)
(7363, 13)
(7257, 13)
(10407, 13)
(10945, 13)
(12516, 13)
(13534, 13)
(8664, 13)
(15627, 13)
(20461, 13)
(48561, 13)
(41991, 13)
(50973, 13)
(46383, 13)
(52007, 13)
(48875, 13)
(50936, 13)
(52956, 13)
(52409, 13)
(53976, 13)
(56400, 13)
(59010, 13)
(71189, 13)
(57398, 13)
(62804, 13)
(79091, 13)
(64503, 13)
(59985, 13)
(59462, 13)
(57787, 13)
(55955, 13)
(28679, 13)
(1443346, 13)
(1012498, 14)
  EVENT_TYPE MONTH_NAME        STATE  CZ_FIPS  STATE_FIPS     CZ_NAME  \
0    Tornado  September  MISSISSIPPI       87        28.0     LOWNDES
1    Tornado       June       KANSAS       63        20.0        GOVE
2    Tornado      March        TEXAS      225        48.0     HOUSTON
3    Tornado        May     OKLAHOMA       33        40.0      COTTON
4    Tornado       July     OKLAHOMA       73        40.0  KINGFISHER

   INJURIES_DIRECT  INJURIES_INDIRECT  DEATHS_DIRECT  DEATHS_INDIRECT  \
0                0                  0              0                0
1                0                  0              0                0
2                0                  0              0                0
3                0                  0              0                0
4                0                  0              0                0

  DAMAGE_PROPERTY DAMAGE_CROPS  YEAR  DAMAGE_ID
0              0K            0  1951          0
1              0K            0  1951          1
2            2.5K            0  1951          2
3            2.5K            0  1951          3
4            .25K            0  1951          4

KeyboardInterrupt:

In [6]:
damage_df.to_sql('damage_table', engine, if_exists='replace',index=False)

In [ ]:
#some column names have spaces before and after their names so trim the names
for table_name in table_names:
    sql_query = """ALTER TABLE %s RENAME <oldcolumn> TO <newcolumn>;"""% table_name
    sql_query = """UPDATE %s
                    SET
                ColumnName = LTRIM(RTRIM(ColumnName))"""% table_name

In [ ]:
# connect to dataset:
#Read Location information from all the tables

location_list = []
#location_ids=[]
cnt=0
for table_name in table_names:
    # query: 
    #for sql query you don't need to put column names into "" but if the column names are 
    #in UPPER CASE LETTERS you have to do that
    sql_query = """
    SELECT "STATE","CZ_FIPS","STATE_FIPS","CZ_TYPE","CZ_NAME","CZ_TIMEZONE" FROM %s;
    """ %table_name
    #print sql_query
    location_info_from_sql = pd.read_sql_query(sql_query,con)
    #location_ids.append(cnt)
    location_list.append(location_info_from_sql)
    #cnt= cnt+1
#print location
location_df =pd.concat(location_list,axis=0)
#location_df =pd.merge(location_list,how='left', left_on=['STATE','CZ_NAME'], right_on = ['STATE','CZ_NAME'])
#location_df =reduce(lambda x, y: pd.merge(x, y,'outer'), location_list)
#location_df =reduce(lambda x, y: pd.merge(x, y, on = ['STATE','CZ_NAME']), location_list)
#df = reduce(lambda df1,df2: pd.merge(df1,df2,on='id'), dfList)
#location_df.set_index('LOCATION_ID', inplace=True)
location_df = location_df.drop_duplicates()
location_df['LOCATION_ID'] = location_df.index

print location_df.head()

In [ ]:
# add the location_df to the sql-server
#accordig to my analysis CZ_FIPS can be used as the main (unique key to the table)
#it is also never null value
location_df.to_sql('location_table', engine, if_exists='replace',index=False)

In [6]:
#connect to dataset:
#Read event information from all the tables
con = None
con = psycopg2.connect(database = 'event_db', user = 'elahe')
location_list = []
#location_ids=[]
cnt=0
# get the table names after the year 2000 the reason is before that all the events are mostly tornado
#later on if we decide to use all the tables it is better to normalize number of events base on the 
#previous years for the model not to be biased towards tornado

#use a regexp to get the numbers out of string
import re
event_type_list = []
for table_name in table_names:
    #event_type_year = pd.DataFrame(columns = ['EVENT_TYPE','TYPE_ID'])
    event_type_year = pd.DataFrame(columns = ['EVENT_TYPE'])
    year = int(re.findall(r'\d+', table_name)[0])
    if year >=2000:
        # query: 
        #for sql query you don't need to put column names into "" but if the column names are 
        #in UPPER CASE LETTERS you have to do that
        sql_query = """
        select distinct "EVENT_TYPE" FROM %s;
        """ %table_name
        #print sql_query
        event_type_from_sql = pd.read_sql_query(sql_query,con)
        event_type_year['EVENT_TYPE']=event_type_from_sql['EVENT_TYPE']
        #event_type_year['TYPE_ID']=event_type_from_sql.index
        #print event_type_year.head()
        event_type_list.append(event_type_year)
event_type_df =reduce(lambda df1,df2: pd.merge(df1,df2,on='EVENT_TYPE',how='outer'), event_type_list)
event_type_df['EVENT_TYPE_ID'] = event_type_df.index
print event_type_df

                    EVENT_TYPE  EVENT_TYPE_ID
0      Extreme Cold/Wind Chill              0
1                        Flood              1
2               Excessive Heat              2
3                         Heat              3
4                    Dense Fog              4
5                   Waterspout              5
6                  Rip Current              6
7                    High Surf              7
8                    High Wind              8
9                    Ice Storm              9
10                   Lightning             10
11                     Drought             11
12           Thunderstorm Wind             12
13                        Hail             13
14               Coastal Flood             14
15                Winter Storm             15
16                     Tornado             16
17         Hurricane (Typhoon)             17
18                    Blizzard             18
19                Frost/Freeze             19
20                    Wildfire             20
21             Cold/Wind Chill             21
22                  Dust Storm             22
23                 Strong Wind             23
24              Winter Weather             24
25                 Debris Flow             25
26                      Seiche             26
27                  Heavy Snow             27
28                Funnel Cloud             28
29            Storm Surge/Tide             29
..                         ...            ...
31            Lake-Effect Snow             31
32                Freezing Fog             32
33                   Avalanche             33
34                  Dust Devil             34
35                       Sleet             35
36              Tropical Storm             36
37                  Heavy Rain             37
38                Volcanic Ash             38
39                       OTHER             39
40             Northern Lights             40
41                   High Snow             41
42    Marine Thunderstorm Wind             42
43                  Heavy Wind             43
44                 Marine Hail             44
45            Marine High Wind             45
46                     Tsunami             46
47                   Landslide             47
48                 Dense Smoke             48
49          Marine Strong Wind             49
50             Lakeshore Flood             50
51       Astronomical Low Tide             51
52                   Hurricane             52
53            Volcanic Ashfall             53
54         Tropical Depression             54
55            Marine Dense Fog             55
56    Marine Hurricane/Typhoon             56
57       Marine Tropical Storm             57
58                 Sneakerwave             58
59            Marine Lightning             59
60  Marine Tropical Depression             60

[61 rows x 2 columns]

In [ ]:
#connect to dataset:
#WRITE event_type information to dataset
con = None
con = psycopg2.connect(database = 'event_db', user = 'elahe')
event_type_df.to_sql('event_type_table', engine, if_exists='replace',index=False)

In [5]:
 
#Read event information from all the tables
location_list = []
#location_ids=[]
cnt=0
# get the table names after the year 2000 the reason is before that all the events are mostly tornado
#later on if we decide to use all the tables it is better to normalize number of events base on the 
#previous years for the model not to be biased towards tornado

#use a regexp to get the numbers out of string

event_location_tornado_list = []
event_location_cold_list = []
event_location_wet_list = []
event_location_no_event_list=[]

for table_name in table_names:

    year = int(re.findall(r'\d+', table_name)[0])
    if year >=2000:
        print 'year %s'%(str(year))
        # query: 
        #for sql query you don't need to put column names into "" but if the column names are 
        #in UPPER CASE LETTERS you have to do that
       
        cond = r'%Tornado%'
        sql_query_tornado = """
        select "EVENT_ID","MONTH_NAME","CZ_FIPS","CZ_NAME","BEGIN_LOCATION","STATE_FIPS","STATE" FROM %s WHERE "EVENT_TYPE" like '%s';
        """ %(table_name,cond)
        #print sql_query_tornado
        event_location_from_sql = pd.read_sql_query(sql_query_tornado,con)
        event_location_from_sql['YEAR']=year
        event_location_tornado_list.append(event_location_from_sql)
        
        cond1 = r'%Chill%'
        cond2 = r'%Winter%'
        cond3 = r'%Blizzard%'
        cond4 = r'%Snow%'
        cond5 = r'%Ice' 
        sql_query_cold = """
        select "EVENT_ID","MONTH_NAME","CZ_FIPS","CZ_NAME","BEGIN_LOCATION","STATE_FIPS","STATE" FROM %s 
        WHERE "EVENT_TYPE" like '%s'
        or "EVENT_TYPE" like '%s'
        or "EVENT_TYPE" like '%s'
        or "EVENT_TYPE" like '%s'
        or "EVENT_TYPE" like '%s';
        """ %(table_name,cond1,cond2,cond3,cond4,cond5)
        event_location_from_sql = pd.read_sql_query(sql_query_cold,con)
        event_location_from_sql['YEAR']=year
        event_location_cold_list.append(event_location_from_sql)
        
        cond1 = r'Flood'
        cond2 = r'%Rain%'
        cond3 = r'%Lightning%'
        sql_query_wet = """
        select "EVENT_ID","MONTH_NAME","CZ_FIPS","CZ_NAME","BEGIN_LOCATION","STATE_FIPS","STATE" FROM %s 
        WHERE "EVENT_TYPE" like '%s'
        or "EVENT_TYPE" like '%s'
        or "EVENT_TYPE" like '%s';
        """ %(table_name,cond1,cond2,cond3)
        #print sql_query
        event_location_from_sql = pd.read_sql_query(sql_query_wet,con)
        event_location_from_sql['YEAR']=year
        event_location_wet_list.append(event_location_from_sql)
        
############## to ither weather conditions to add later         
##cond1 = r'%Heat%'
##cond2 = r'%Waterspout%'

#-----
#cond1 = r'%Hurricane%'

event_location_tornado_df =pd.concat(event_location_tornado_list,axis=0)
event_location_cold_df =pd.concat(event_location_cold_list,axis=0)
event_location_wet_df =pd.concat(event_location_wet_list,axis=0)

print event_location_tornado_df.head()
print event_location_cold_df.head()
print event_location_wet_df.head()

year 2000
year 2001
year 2002
year 2003
year 2004
year 2005
year 2006
year 2007
year 2008
year 2009
year 2010
year 2011
year 2012
year 2013
year 2014
year 2015
year 2016
year 2017
   EVENT_ID MONTH_NAME  CZ_FIPS     CZ_NAME  BEGIN_LOCATION  STATE_FIPS  \
0   5130281   February       45       ELLIS         CATESBY        40.0
1   5129129    January      175  WASHINGTON  FREDDRICKSBURG        18.0
2   5129550   February      281    LAMPASAS        LAMPASAS        48.0
3   5129553   February       27        BELL         KILLEEN        48.0
4   5132160   February      277        TIFT           OMEGA        13.0

      STATE  YEAR
0  OKLAHOMA  2000
1   INDIANA  2000
2     TEXAS  2000
3     TEXAS  2000
4   GEORGIA  2000
   EVENT_ID MONTH_NAME  CZ_FIPS             CZ_NAME BEGIN_LOCATION  \
0   5165377   December       67   INLAND PALM BEACH           None
1   5165378   December       70      INLAND COLLIER           None
2   5165379   December       73         INLAND DADE           None
3   5165449   December       23             PRESTON           None
4   5128383    January       30  COASTAL WASHINGTON           None

   STATE_FIPS          STATE  YEAR
0        12.0        FLORIDA  2000
1        12.0        FLORIDA  2000
2        12.0        FLORIDA  2000
3        54.0  WEST VIRGINIA  2000
4        23.0          MAINE  2000
   EVENT_ID MONTH_NAME  CZ_FIPS                                  CZ_NAME  \
0   5129281    January       22                       CURRY COUNTY COAST
1   5128587   February      163                                 SULLIVAN
2   5129282    January       24  EASTERN CURRY COUNTY & JOSEPHINE COUNTY
3   5128936   February        8                                  JACKSON
4   5128937   February        5                                    WAYNE

  BEGIN_LOCATION  STATE_FIPS          STATE  YEAR
0           None        41.0         OREGON  2000
1     BLUFF CITY        47.0      TENNESSEE  2000
2           None        41.0         OREGON  2000
3           None        54.0  WEST VIRGINIA  2000
4           None        54.0  WEST VIRGINIA  2000

In [6]:
#connect to dataset:
#WRITE event_type information to dataset
print 'write Tornado'
event_location_tornado_df.to_sql('event_location_tornado_table', engine, if_exists='replace',index=False)
print 'write Cold'
event_location_cold_df.to_sql('event_location_cold_table', engine, if_exists='replace',index=False)
print 'write wet'
event_location_wet_df.to_sql('event_location_wet_table', engine, if_exists='replace',index=False)

write Tornado
write Cold
write wet

In [3]:
import os
filepath='/Users/elahe/Desktop/Insight/EscapeDisaster/getRita/' 
os.chdir(filepath)
#the current year data is always till the last 3 months we don't include the data all togeter
year_range = range(2014,2015)
month_range = range(1,13)
for year in year_range:
    for month in month_range:
        cmd = "python get_rita.py --year %d --month %d --data_path %s" %(year,month,"data/")
        print cmd
        os.system(cmd)

python get_rita.py --year 2014 --month 1 --data_path data/
python get_rita.py --year 2014 --month 2 --data_path data/
python get_rita.py --year 2014 --month 3 --data_path data/
python get_rita.py --year 2014 --month 4 --data_path data/
python get_rita.py --year 2014 --month 5 --data_path data/
python get_rita.py --year 2014 --month 6 --data_path data/
python get_rita.py --year 2014 --month 7 --data_path data/
python get_rita.py --year 2014 --month 8 --data_path data/
python get_rita.py --year 2014 --month 9 --data_path data/
python get_rita.py --year 2014 --month 10 --data_path data/
python get_rita.py --year 2014 --month 11 --data_path data/
python get_rita.py --year 2014 --month 12 --data_path data/

After manually extacting the files and changing the name to "2015_1", "2015_2",..

In [ ]:
%%notify
import os
filepath='/Users/elahe/Desktop/Insight/EscapeDisaster/getRita/data/' 
os.chdir(filepath)
year_range = range(2013,2017)
month_range = range(1,13)
flight_month_list = []
num_flights_list = []
for year in year_range:
    for month in month_range:
        filename="%d_%d.csv" %(year,month)
        print 'proccessing %s' %filename
        flight_month = pd.DataFrame.from_csv(filename)
       
        flight_month = flight_month.rename(columns=lambda x: x.strip())

        print flight_month.shape
        flight_month['counts_total_dest'] = flight_month.groupby(["FL_DATE",'DEST_CITY_NAME'])['DEST_CITY_NAME'].transform('count')
        flight_month['counts_total_origin'] = flight_month.groupby(["FL_DATE",'ORIGIN_CITY_NAME'])['ORIGIN_CITY_NAME'].transform('count')
        #flight_month['counts_origin'] = flight_month.groupby(["FL_DATE",'ORIGIN_CITY_NAME'])['ORIGIN_CITY_NAME'].transform('count')
        flight_month_old = flight_month
        num_flights = flight_month[['counts_total_dest','FL_DATE','DEST_CITY_NAME']].drop_duplicates()
        flight_month = flight_month[['DAY_OF_MONTH','MONTH','FL_DATE','ORIGIN_CITY_NAME','ORIGIN_STATE_FIPS','DEST_CITY_NAME','DEST_STATE_FIPS','CANCELLED',"CANCELLATION_CODE",'WEATHER_DELAY']]
        #print flight_month.shape
        ### This count is just to know if the cancelation was due to bad weather conditions in destination
        ### or origin
    
        
        flight_month = flight_month[((flight_month['CANCELLED'] == 1) & (flight_month["CANCELLATION_CODE"] == 'B')) | (flight_month['WEATHER_DELAY']==1)]
        flight_month = flight_month.fillna(0)
        flight_month.drop('CANCELLATION_CODE',axis=1)
       
        flight_month['counts_origin'] = flight_month.groupby(["FL_DATE",'ORIGIN_CITY_NAME'])['ORIGIN_CITY_NAME'].transform('count')
        flight_month.loc[:,'counts_origin'] *= 1.0 
        flight_month['counts_dest'] = flight_month.groupby(["FL_DATE",'DEST_CITY_NAME'])['DEST_CITY_NAME'].transform('count')
            
        origin_total_df=flight_month_old[['counts_total_origin','ORIGIN_CITY_NAME','FL_DATE']].drop_duplicates()
        dest_total_df=flight_month_old[['counts_total_dest','DEST_CITY_NAME','FL_DATE']].drop_duplicates()
        flight_month = pd.merge(flight_month,origin_total_df,how='left',on=['ORIGIN_CITY_NAME','FL_DATE'])
        flight_month = pd.merge(flight_month,dest_total_df,how='left',on=['DEST_CITY_NAME','FL_DATE'])
        
        
        #print flight_month['counts_origin']/flight_month['counts_total_origin']
        #df[['B','C']].div(df.A, axis=0)
        flight_month['normalized_cancel_origin']=flight_month['counts_origin'].div(flight_month.counts_total_origin)
        flight_month['normalized_cancel_dest']=flight_month['counts_dest'].div(flight_month.counts_total_dest)
        #flight_month['normalized_cancel_origin']=np.where(flight_month['counts_total_origin'], flight_month['counts_origin'], flight_month['counts_origin']/flight_month['counts_total_origin'])
        flight_month = flight_month[['DAY_OF_MONTH','MONTH','FL_DATE','ORIGIN_CITY_NAME','ORIGIN_STATE_FIPS','DEST_CITY_NAME','DEST_STATE_FIPS','CANCELLED',"CANCELLATION_CODE",'WEATHER_DELAY','normalized_cancel_origin','normalized_cancel_dest']]
        flight_month = flight_month[(flight_month['normalized_cancel_dest']*10.0>flight_month['normalized_cancel_origin'])]
        flight_month = flight_month[['DAY_OF_MONTH','MONTH','FL_DATE','DEST_CITY_NAME','DEST_STATE_FIPS','normalized_cancel_dest']]
        flight_month_list.append(flight_month)
        
    print "---------concating dataframes for months----"
    flight_year =pd.concat(flight_month_list,axis=0)

    print "---------Writing to dataset----"
    flight_year.to_sql(('flight%d_table' %year), engine, if_exists='replace',index=False)
    
##### LATER ON USER num_flights per day to destination for normalization of number of flights canceled    
print flight_year.head()
print flight_year.shape

proccessing 2013_1.csv
(509519, 22)
proccessing 2013_2.csv
(469746, 22)
proccessing 2013_3.csv
(552312, 22)
proccessing 2013_4.csv
(536393, 22)
proccessing 2013_5.csv
(548642, 22)
proccessing 2013_6.csv
(552141, 22)
proccessing 2013_7.csv
(571623, 22)

In [11]:
# read a database from CSV and load it into a pandas dataframe
stateZip = pd.DataFrame.from_csv('Data/stateZip.csv',index_col= None)
zipcode = pd.DataFrame.from_csv('Data/ZIPCODE.csv',index_col= None)
states = pd.DataFrame.from_csv('Data/STATES.csv',index_col= None)
print zipcode.head()

   zip_code   latitude  longitude        city state     county
0       501  40.922326 -72.637078  Holtsville    NY    Suffolk
1       544  40.922326 -72.637078  Holtsville    NY    Suffolk
2       601  18.165273 -66.722583    Adjuntas    PR   Adjuntas
3       602  18.393103 -67.180953      Aguada    PR     Aguada
4       603  18.455913 -67.145780   Aguadilla    PR  Aguadilla

In [7]:
import csv

with open('Data/national_county.txt', 'r') as in_file:
    stripped = (line.strip() for line in in_file)
    lines = (line.split(",") for line in stripped if line)
    with open('Data/countyFIPS.csv', 'w') as out_file:
        writer = csv.writer(out_file)
        writer.writerow(('STATE_AB','STATE_FIPS','COUNTY_FIPS','COUNTY_NAME','ACTIVE'))
        writer.writerows(lines)

In [12]:
print stateZip.county.unique().shape
print stateZip.city.unique().shape

print stateZip.STATE_NAME.unique().shape
print stateZip.STATE_AB.unique().shape
print stateZip.STATE_FIPS.unique().shape

print states.STATE_FIPS.unique().shape
print states.STATE_NAME.unique().shape

print zipcode.state.unique().shape

print location_df.STATE.unique().shape

(1930,)
(18953,)
(58,)
(63,)
(58,)
(57,)
(57,)
(62,)
(69,)

In [15]:
stateZip = stateZip.dropna()

In [78]:
import addfips
af = addfips.AddFIPS()
new_rows=[]
for index, row in stateZip.iterrows():
    af.add_county_fips(row, county_field="county", state_field="STATE_AB")
    stateZip.loc[index,'fips']=row['fips']
stateZip.drop('ifor',axis=1)    
#row = {'county': 'Cook County', 'state': 'IL'}
#af.add_county_fips(row, county_field="county", state_field="state")

,STATE_FIPS,STATE_NAME,latitude,longitude,zip_code,county,city,STATE_AB,fips
0,36.0,New York,40.922326,-72.637078,501.0,Suffolk,Holtsville,NY,36103
1,36.0,New York,40.922326,-72.637078,544.0,Suffolk,Holtsville,NY,36103
2,36.0,New York,40.992288,-72.723496,6390.0,Suffolk,Fishers Island,NY,36103
3,36.0,New York,40.750422,-73.996328,10001.0,New York,New York,NY,36061
4,36.0,New York,40.718758,-73.986427,10002.0,New York,New York,NY,36061
5,36.0,New York,40.730223,-73.988564,10003.0,New York,New York,NY,36061
6,36.0,New York,40.696355,-74.025276,10004.0,New York,New York,NY,36061
7,36.0,New York,40.706903,-74.008654,10005.0,New York,New York,NY,36061
8,36.0,New York,40.708834,-74.013168,10006.0,New York,New York,NY,36061
9,36.0,New York,40.713941,-74.007401,10007.0,New York,New York,NY,36061
10,36.0,New York,40.780751,-73.977182,10008.0,New York,New York,NY,36061
11,36.0,New York,40.727750,-73.980396,10009.0,New York,New York,NY,36061
12,36.0,New York,40.739024,-73.983542,10010.0,New York,New York,NY,36061
13,36.0,New York,40.740916,-73.999769,10011.0,New York,New York,NY,36061
14,36.0,New York,40.729124,-73.991582,10012.0,New York,New York,NY,36061
15,36.0,New York,40.722105,-74.003497,10013.0,New York,New York,NY,36061
16,36.0,New York,40.738088,-74.005095,10014.0,New York,New York,NY,36061
17,36.0,New York,40.780751,-73.977182,10015.0,New York,New York,NY,36061
18,36.0,New York,40.745527,-73.978449,10016.0,New York,New York,NY,36061
19,36.0,New York,40.752955,-73.973196,10017.0,New York,New York,NY,36061
20,36.0,New York,40.755332,-73.993172,10018.0,New York,New York,NY,36061
21,36.0,New York,40.765926,-73.985443,10019.0,New York,New York,NY,36061
22,36.0,New York,40.735449,-73.996788,10020.0,New York,New York,NY,36061
23,36.0,New York,40.768823,-73.960257,10021.0,New York,New York,NY,36061
24,36.0,New York,40.758775,-73.967842,10022.0,New York,New York,NY,36061
25,36.0,New York,40.776765,-73.982213,10023.0,New York,New York,NY,36061
26,36.0,New York,40.808130,-73.965653,10024.0,New York,New York,NY,36061
27,36.0,New York,40.798664,-73.967778,10025.0,New York,New York,NY,36061
28,36.0,New York,40.802918,-73.953107,10026.0,New York,New York,NY,36061
29,36.0,New York,40.812242,-73.953200,10027.0,New York,New York,NY,36061
...,...,...,...,...,...,...,...,...,...
42012,53.0,Washington,47.197581,-122.162076,98372.0,Pierce,Puyallup,WA,53053
42013,53.0,Washington,47.145817,-122.309704,98373.0,Pierce,Puyallup,WA,53053
42014,53.0,Washington,47.139095,-122.258646,98374.0,Pierce,Puyallup,WA,53053
42015,53.0,Washington,47.098845,-122.363930,98375.0,Pierce,Puyallup,WA,53053
42016,53.0,Washington,47.828495,-122.838769,98376.0,Jefferson,Quilcene,WA,53031
42017,53.0,Washington,46.516754,-121.894411,98377.0,Lewis,Randle,WA,53041
42018,53.0,Washington,47.687971,-122.729304,98378.0,Kitsap,Retsil,WA,53035
42019,53.0,Washington,47.591261,-122.868581,98380.0,Kitsap,Seabeck,WA,53035
42020,53.0,Washington,48.288633,-124.397803,98381.0,Clallam,Sekiu,WA,53009
42021,53.0,Washington,48.067730,-123.080362,98382.0,Clallam,Sequim,WA,53009
42022,53.0,Washington,47.672498,-122.707982,98383.0,Kitsap,Silverdale,WA,53035
42023,53.0,Washington,47.521803,-122.539637,98384.0,Kitsap,South Colby,WA,53035
42024,53.0,Washington,47.138271,-122.096799,98385.0,Pierce,South Prairie,WA,53053
42025,53.0,Washington,47.510370,-122.499139,98386.0,Kitsap,Southworth,WA,53035
42026,53.0,Washington,47.058452,-122.416480,98387.0,Pierce,Spanaway,WA,53053
42027,53.0,Washington,47.132671,-122.331781,98388.0,Pierce,Steilacoom,WA,53053
42028,53.0,Washington,47.176966,-122.159820,98390.0,Pierce,Sumner,WA,53053
42029,53.0,Washington,47.732624,-122.564557,98392.0,Kitsap,Suquamish,WA,53035
42030,53.0,Washington,47.626717,-122.649953,98393.0,Kitsap,Tracyton,WA,53035
42031,53.0,Washington,47.311117,-122.772503,98394.0,Pierce,Vaughn,WA,53053
42032,53.0,Washington,47.266017,-122.832799,98395.0,Pierce,Wauna,WA,53053
42033,53.0,Washington,47.109524,-122.037015,98396.0,Pierce,Wilkeson,WA,53053
42034,53.0,Washington,47.066193,-122.113223,98397.0,Pierce,Longmire,WA,53053
42035,53.0,Washington,47.066193,-122.113223,98398.0,Pierce,Paradise Inn,WA,53053
42036,53.0,Washington,47.253671,-122.444335,98401.0,Pierce,Tacoma,WA,53053
42037,53.0,Washington,47.261502,-122.463308,98402.0,Pierce,Tacoma,WA,53053
42038,53.0,Washington,47.265371,-122.457087,98403.0,Pierce,Tacoma,WA,53053
42039,53.0,Washington,47.209131,-122.397929,98404.0,Pierce,Tacoma,WA,53053
42040,53.0,Washington,47.247871,-122.472793,98405.0,Pierce,Tacoma,WA,53053
42041,53.0,Washington,47.259216,-122.509235,98406.0,Pierce,Tacoma,WA,53053

In [71]:
stateZip.to_csv('Data/stateZip.csv',index=False)

IOError: File Data/ZIPCODE.csv does not exist

In [3]:
stateZip = pd.DataFrame.from_csv('/Users/elahe/Desktop/Insight/EscapeDisaster/Data/stateZip.csv',index_col= None)

In [6]:
con = None
con = psycopg2.connect(database = 'event_db', user = 'elahe')
stateZip.to_sql('state_zip_table', engine, if_exists='replace',index=False)

In [4]:
print stateZip.head()

   STATE_FIPS STATE_NAME   latitude  longitude  zip_code    county  \
0        36.0   New York  40.922326 -72.637078     501.0   Suffolk
1        36.0   New York  40.922326 -72.637078     544.0   Suffolk
2        36.0   New York  40.992288 -72.723496    6390.0   Suffolk
3        36.0   New York  40.750422 -73.996328   10001.0  New York
4        36.0   New York  40.718758 -73.986427   10002.0  New York

             city STATE_AB  ifor     fips
0      Holtsville       NY   NaN  36103.0
1      Holtsville       NY   NaN  36103.0
2  Fishers Island       NY   NaN  36103.0
3        New York       NY   NaN  36061.0
4        New York       NY   NaN  36061.0

In [3]:
sql_query="""
select AVG(latitude) as county_avg_lat, AVG(longitude) 
as county_avg_lon,"STATE_FIPS",fips
from state_zip_table 
group by "STATE_FIPS",fips;
"""
county_fips_lat_lon = pd.read_sql_query(sql_query,con)
print county_fips_lat_lon.head()
print county_fips_lat_lon.shape
county_fips_lat_lon = county_fips_lat_lon.dropna()
fips_series = county_fips_lat_lon['fips'].astype(int)
fips_series = fips_series.astype(str)
### get last 3 character of string
fips_series = fips_series.str[-3:].astype(int).astype(str)
county_fips_lat_lon['CZ_FIPS'] = fips_series
print county_fips_lat_lon.head()
print county_fips_lat_lon.shape
county_fips_lat_lon.to_sql('county_fips_lat_lon_table', engine, if_exists='replace',index=False)

   county_avg_lat  county_avg_lon  STATE_FIPS     fips
0       36.750321      -83.705986        21.0  21013.0
1       40.407972      -91.675600        29.0  29045.0
2       32.781917      -87.929252         1.0   1063.0
3       40.146342      -96.213025        31.0  31133.0
4       34.295375      -91.928854         5.0   5069.0
(3159, 4)
   county_avg_lat  county_avg_lon  STATE_FIPS     fips CZ_FIPS
0       36.750321      -83.705986        21.0  21013.0      13
1       40.407972      -91.675600        29.0  29045.0      45
2       32.781917      -87.929252         1.0   1063.0      63
3       40.146342      -96.213025        31.0  31133.0     133
4       34.295375      -91.928854         5.0   5069.0      69
(3147, 5)

In [46]:
sql_query="""
select "STATE_FIPS","STATE_AB",city,fips
from state_zip_table
"""
city_fips=pd.read_sql_query(sql_query,con)
city_fips=city_fips.drop_duplicates()
print city_fips.head()
print city_fips.shape

     STATE_FIPS STATE_AB            city     fips
0          36.0       NY      Holtsville  36103.0
2          36.0       NY  Fishers Island  36103.0
3          36.0       NY        New York  36061.0
165        36.0       NY   Staten Island  36085.0
179        36.0       NY           Bronx  36005.0
(29641, 4)

In [ ]:
stateZip = stateZip[['STATE_FIPS','STATE_AB','city','fips']].drop_duplicates()

In [8]:
con = None
con = psycopg2.connect(database = 'event_db', user = 'elahe')
city_fips.to_sql('city_fips_table', engine, if_exists='replace',index=False)

In [6]:
print location_df.head()

         STATE  CZ_FIPS  STATE_FIPS CZ_TYPE     CZ_NAME CZ_TIMEZONE  \
0  MISSISSIPPI       87        28.0       C     LOWNDES         CST
1       KANSAS       63        20.0       C        GOVE         CST
2        TEXAS      225        48.0       C     HOUSTON         CST
3     OKLAHOMA       33        40.0       C      COTTON         CST
4     OKLAHOMA       73        40.0       C  KINGFISHER         CST

   LOCATION_ID
0            0
1            1
2            2
3            3
4            4

In [4]:
#######READ THIS TABLES AND SAVE THEM INCSV FOR YOUR MODEL

sql_query = """
    select * 
    from flight_df_table;
    """
flight_df = pd.read_sql_query(sql_query,con)
flight_df.to_csv('flight_df_table.csv',index=False)
sql_query = """
    select * 
    from city_fips_table;
    """
city_fips= pd.read_sql_query(sql_query,con)
city_fips.to_csv('city_fips_table.csv',index=False)

In [6]:
flight_df

      cancel_freq  MONTH   DEST_CITY_NAME    DEST_CITY     fips
0        5.081065      2      Madison, WI      Madison  55025.0
1        5.139058     12      Madison, WI      Madison  55025.0
2        0.685847     11      Madison, WI      Madison  55025.0
3        0.729064      5      Madison, WI      Madison  55025.0
4        0.282878      9      Madison, WI      Madison  55025.0
5        1.508660      3      Madison, WI      Madison  55025.0
6        0.630769      1      Madison, WI      Madison  55025.0
7        0.643592      4      Madison, WI      Madison  55025.0
8        1.079972      6      Madison, WI      Madison  55025.0
9        0.555285      8      Madison, WI      Madison  55025.0
10       0.224798      7      Madison, WI      Madison  55025.0
11       0.574916      2      Madison, WI      Madison  55025.0
12       2.393382     12      Madison, WI      Madison  55025.0
13       0.050000     11      Madison, WI      Madison  55025.0
14       0.269841      5      Madison, WI      Madison  55025.0
15       0.083478      9      Madison, WI      Madison  55025.0
16       0.476190      3      Madison, WI      Madison  55025.0
17       0.956178      1      Madison, WI      Madison  55025.0
18       0.266667      4      Madison, WI      Madison  55025.0
19       0.078462      6      Madison, WI      Madison  55025.0
20       0.394591      8      Madison, WI      Madison  55025.0
21       0.400385      7      Madison, WI      Madison  55025.0
22       0.211962      7   Cincinnati, OH   Cincinnati  39061.0
23       0.211962      7   Cincinnati, OH   Cincinnati  39025.0
24       0.211962      7   Cincinnati, OH   Cincinnati  39015.0
25       1.212240      6   Cincinnati, OH   Cincinnati  39061.0
26       1.212240      6   Cincinnati, OH   Cincinnati  39025.0
27       1.212240      6   Cincinnati, OH   Cincinnati  39015.0
28       0.186508      8   Cincinnati, OH   Cincinnati  39061.0
29       0.186508      8   Cincinnati, OH   Cincinnati  39025.0
...           ...    ...              ...          ...      ...
4586     0.125000     10      Bozeman, MT      Bozeman  30031.0
4587     0.627778      3      Bozeman, MT      Bozeman  30031.0
4588     0.571429      4      Bozeman, MT      Bozeman  30031.0
4589     0.142857      2      Bozeman, MT      Bozeman  30031.0
4590     0.419298     12      Bozeman, MT      Bozeman  30031.0
4591     0.111111      5      Bozeman, MT      Bozeman  30031.0
4592     0.833333      6    Brunswick, GA    Brunswick  13127.0
4593     0.333333      1    Brunswick, GA    Brunswick  13127.0
4594     0.333333      9    Brunswick, GA    Brunswick  13127.0
4595     0.333333      8    Brunswick, GA    Brunswick  13127.0
4596     0.333333      6    Brunswick, GA    Brunswick  13127.0
4597     6.666667     10    Brunswick, GA    Brunswick  13127.0
4598     4.000000      1   Twin Falls, ID   Twin Falls  16083.0
4599     1.333333      2   Twin Falls, ID   Twin Falls  16083.0
4600     1.000000     12   Twin Falls, ID   Twin Falls  16083.0
4601     0.333333      1   Twin Falls, ID   Twin Falls  16083.0
4602     0.333333      1   Bellingham, WA   Bellingham  53073.0
4603     0.500000     12   Bellingham, WA   Bellingham  53073.0
4604     0.500000      6     Columbus, GA     Columbus  13215.0
4605     0.250000      8     Columbus, GA     Columbus  13215.0
4606     0.250000      3     Columbus, GA     Columbus  13215.0
4607     0.333333      9     Columbus, GA     Columbus  13215.0
4608     0.250000      7     Columbus, GA     Columbus  13215.0
4609     0.500000      3       Vernal, UT       Vernal  49047.0
4610     2.000000      1       Vernal, UT       Vernal  49047.0
4611     2.000000      4       Vernal, UT       Vernal  49047.0
4612     0.500000     12     Lewiston, ID     Lewiston  16069.0
4613     0.058824      7         Hilo, HI         Hilo  15001.0
4614     0.066667     12         Hilo, HI         Hilo  15001.0
4615     1.500000     12  Punta Gorda, FL  Punta Gorda  12015.0

[4616 rows x 5 columns]

In [11]:

flight_df_result=flight_df["DEST_CITY_NAME"].dropna()
print flight_df_result.head()
flight_df_result=flight_df_result.sort_values()
print flight_df_result.head()
cities_list = flight_df_result["DEST_CITY_NAME"].values
cities = cities_list

0    Madison, WI
1    Madison, WI
2    Madison, WI
3    Madison, WI
4    Madison, WI
Name: DEST_CITY_NAME, dtype: object
1209    Aberdeen, SD
1211    Aberdeen, SD
1212    Aberdeen, SD
1213    Aberdeen, SD
1214    Aberdeen, SD
Name: DEST_CITY_NAME, dtype: object

KeyError: 'DEST_CITY_NAME'